.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  height: 56px;
  border-radius: 24px;
  background: #6361F3;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  z-index: 5;
  border: none;
}

.disable {
  cursor: not-allowed;
  text-decoration: none;
  color: #E4E4FF;
  background: #A3A2FF;
  pointer-events: none;
}

@keyframes move {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  position: relative;
  pointer-events: none;
  cursor: not-allowed;

  &::after {
    content: '';
    position: absolute;
    top: calc(50% - 9px);
    left: calc(50% - 9px);
    width: 18px;
    height: 18px;
    background: url("/loader-ico.png") no-repeat;
    background-size: cover;
    animation: move 1s linear infinite;
  }
}

.outline {
  color: #80808A;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.common {
  font-family: "Manrope", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0 16px;
  height: 32px;
  border-radius: 24px;
  border: none;
  background: #F3F4F7;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.24px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  z-index: 5;
  gap: 4px;

  svg {
    display: block;
  }
}