.page {
  position: relative;
  height: 100dvh;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  background: #FFF;
}

.main {
  margin: 0 auto;
  padding-bottom: 25px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
}

.header {
  padding: 24px 0 40px;
  position: relative;
  z-index: 5;

  &>div {
    margin: 0 auto;
  }
}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  overflow: hidden;
  width: 100%;
  flex: 1 0 auto;
  padding-bottom: 40px;
}

.heading {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: #1A1A2E;
  white-space: break-spaces;

  span {
    display: block;
    color: #80808A;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    padding-top: 16px;
    white-space: break-spaces;
  }
}

.chat {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;

  div {
    border-radius: 24px 24px 24px 0;
    background: #F4F4F4;
    width: fit-content;
    padding: 12px 16px;
    color: #1A1A2E;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
  }
}

.instructions {
  width: 100%;

  div {
    padding-bottom: 16px;
    color: #1A1A2E;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
    text-align: center;
  }
}