.page {
  position: relative;
  height: 100dvh;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  background: #FFF;
  overflow: hidden;
}

.main {
  margin: 0 auto;
  padding-bottom: 25px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
}

.header {
  padding: 16px 0 8px;
  position: relative;
  z-index: 5;

  &>div {
    margin: 0 auto;
  }
}

.heading {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: #1A1A2E;
  padding: 24px 0;
  white-space: break-spaces;

  span {
    display: block;
    color: #80808A;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    padding-top: 16px;
    white-space: break-spaces;
  }
}