.content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  overflow: hidden;
  width: 100%;
  flex: 1 0 auto;
  padding-bottom: 70px;
}

.text {
  padding-top: 20px;
  text-align: left;
}

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 24px;
  background: linear-gradient(360deg, #F3F4F7 76.92%, rgba(241, 241, 241, 0) 100%);

  .note {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.1px;
    text-align: center;
    color: #909091;
    bottom: 95px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    padding: 0 24px;
    box-sizing: border-box;
  }

  a {
    max-width: 400px;
    margin: 0 auto;
  }

  img {
    margin: 0 auto -24px;
    display: block;
  }
}