.content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  overflow: hidden;
  width: 100%;
  flex: 1 0 auto;
}

// email

.form {
  display: block;
  width: 100%;

  label {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.0031em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000;
    display: block;
  }
}

// user

.password {
  position: relative;
  margin-top: 14px;

  span {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    transform: translate(0, -50%);
    right: 15px;
    cursor: pointer;

    img {
      display: block;
      height: inherit;
    }

  }
}

.note {
  padding-top: 8px;
  color: #94949E;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
}

.error {
  color: #EB3E03;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.24px;
}

/* networks */

.or {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000;
  position: relative;
  width: 100%;
  margin: 24px 0;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #D7DAE5;
    transform: translate(0, -50%);
  }

  span {
    display: inline-block;
    padding: 0 8px;
    background: #fff;
    margin: 0 auto;
    position: relative;
    z-index: 5;
  }
}

.networks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  width: 100%;
}