.logo {
  display: flex;
  height: 32px;
  width: fit-content;
  align-items: center;
  justify-content: center;
  background: #6361f3;
  border-radius: 24px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  gap: 4px;
  padding: 0 15px;
}