.message {
  color: #1A1A2E;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  display: flex;
  padding: 16px;
  border-radius: 16px 16px 16px 4px;
  background: #F4F4F4;
  margin: 0 auto 0 0;
  width: calc(100% - 36px);
}

.typing {
  position: relative;
  height: 10px;
  width: 40px;

  span {
    content: '';
    animation: blink 1.5s infinite;
    animation-fill-mode: both;
    height: 10px;
    width: 10px;
    background: #000;
    position: absolute;
    left:0;
    top:0;
    border-radius: 50%;

    &:nth-child(2) {
      animation-delay: .2s;
      margin-left: 10px * 1.5;
    }

    &:nth-child(3) {
      animation-delay: .4s;
      margin-left: 10px * 3;
    }
  }
}


@keyframes blink {
  0% {
    opacity: .1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .1;
  }
}