.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(26, 26, 46, 0.60);
    z-index: 10000;
}
.modal {
    background: #fff;
    border-radius: 40px;
    position: relative;
    margin: 0 40px;
    padding: 24px;
    max-width: 400px;
    width: 100%;
}

.close {
    position: absolute;
    right: 24px;
    top: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.body {
    padding-top: 16px;
}

//picture

.picture {
    border: 2px solid #A3A2FF;
    border-radius: 24px;
    position: relative;
    margin: 0 40px;
    max-width: 400px;
    width: 100%;
    overflow: hidden;

    .close {
        position: absolute;
        right: 16px;
        top: 26px;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 2;
    }

    .body {
        padding-top: 0;

        img {
            display: block;
        }
    }
}

//stories

.stories {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    div {
        color: #1A1A2E;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        padding: 16px 0 8px;
    }

    span {
        color: #94949E;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.32px;
        padding-bottom: 24px;
    }
}

//delete

.delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    div {
        color: #1A1A2E;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        padding: 16px 0 8px;
    }

    span {
        color: #94949E;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.32px;
        padding-bottom: 24px;
    }
}

//player

.player {
    width: 300px;

    .info {
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pic {
        margin-bottom: 37px;
        position: relative;

        img {
            display: block;
            border-radius: 45px;
            overflow: hidden;
            background: #F4F4F4;
        }

        .favorite {
            margin-top: -27px;
            border: none;
            background: none;

            svg {
                display: block;
                margin: 0 auto;
            }
        }
    }

    .title {
        color: #1A1A2E;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
    }

    .description {
        color: #80808A;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.32px;
    }
}

.window {
    overflow-y: auto;
    padding: 0 24px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #fff;
    z-index: 10000;
}

.topic {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

    .top {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.32px;
        padding: 8px 0;
        position: relative;
        display: flex;
        align-items: center;

        div {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
        }

        button {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background: #F4F4F4;
            border-radius: 16px;
        }
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        padding-bottom: 30px;
        height: 1px;
        flex: 1 1 auto;
        overflow-y: auto;
        scrollbar-width: none;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        width: 100%;
        padding: 17px 0 25px 0;
    }

    .topics {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    .checkbox {
        border-radius: 16px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        padding: 0 16px;
        background: #F4F4F4;
        color: #000000;
        gap: 8px;

        svg {
            display: block;
        }
    }
}

//info

.info {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0;

    img {
        display: block;
    }

    div {
        color: #1A1A2E;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        padding: 0 0 8px;
    }

    span {
        color: #94949E;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.32px;
        padding-bottom: 16px;
    }
}

//relationship

.relationship {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 20px;

    .top {
        margin-top: -35px;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.32px;
        color: #000;

        img {
            display: block;
            border-radius: 40px;
        }
    }

    .about {
        padding-top: 24px;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.32px;
        color: #94949E;
    }

    .select {
        border-bottom: 1px solid #F4F4F4;
        padding-bottom: 24px;
        margin: 16px 0 24px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .radio {
            background: #F4F4F4;
            border-radius: 16px;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: -0.36px;
            color: #000;
            padding: 0 16px;
            height: 56px;
            display: flex;
            align-items: center;
            gap: 5px;

            span {
               display: block;
               width: 100%;
            }

            div {
                flex: none;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background: #F4F4F4;
                border: 2px solid #D2D2D4;
                box-sizing: border-box;
                overflow: hidden;

                svg {
                    display: none;
                }
            }
        }

        input[type=radio]:checked + label div {
            background: #E4E4FF;
            color: #000;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: -0.36px;

            div {
                border: none;

                svg {
                    display: block;
                }
            }
        }
    }
}

// shortcut

.shortcut {
    width: 100%;
    max-width: 400px;
    height: 100dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;

    .heading {
        padding: 20px 0 40px;
        color: #1A1A2E;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.32px;
        display: flex;
        width: 100%;
        justify-content: center;

        div {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
        }

        button {
            flex: none;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background: #F4F4F4;
            border-radius: 16px;
        }
    }

    .chat {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        margin-bottom: 40px;

        div {
            border-radius: 24px 24px 24px 0;
            background: #F4F4F4;
            width: fit-content;
            padding: 12px 16px;
            color: #1A1A2E;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.32px;
        }
    }

    .instructions {
        margin-bottom: 40px;
        width: 100%;

        div {
            padding-bottom: 16px;
            color: #1A1A2E;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.32px;
            text-align: center;
        }
    }

    .bottom {
        z-index: 10;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        padding: 24px;

        a {
            margin: 0 auto;
        }
    }
}

.main {
    padding-bottom: 30px;
}

.bottom {
    z-index: 10;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 24px;

    a {
        margin: 0 auto;
    }
}

.playerBox {
    box-shadow: none !important;
    background: none !important;;
    padding: 0 0 50px !important;;
}

.playerWrapper {
    overflow-y: auto;
    padding: 0 24px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #F4F4F4;
    z-index: 10000;
}