.page {
  position: relative;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background: #f5cfff;
  overflow: hidden;
}

.main {
  position: relative;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  flex: 1 0 auto;
  padding-bottom: 104px;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  z-index: 10;

  a {
    max-width: 400px;
    margin: 0 auto;
  }
}

.app {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  position: relative;
  z-index: 2;
  padding-top: 40px;
  //padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.logos {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: url("/logo-pack.png") center top repeat-y;
  background-size: contain;
}
