.page {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
  justify-content: space-between;
  padding: 0 24px;
  background: #fff;
}

.head {
  height: 72px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  flex: none;

  div {
    margin: 0 auto;
  }
}

.main {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 auto;
  height: 1px;
  margin: 0 auto 20px;
}

.wrapper {
  width: 100%;
  overflow-y: auto;
  //scrollbar-width: none;
  //-ms-overflow-style: none;
  //
  //&::-webkit-scrollbar {
  //  width: 0;
  //  height: 0;
  //  display: none;
  //}
}

.title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: #1A1A2E;
  padding-bottom: 20px;

  div {
    padding-top: 7px;
    letter-spacing: -0.32px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    color: #80808A;
  }
}

.content {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  text-align: left;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 16px;

   a {
     color: #000;
     text-decoration: underline;
   }

  ol {
    display: flex;
    flex-direction: column;

    li {
      list-style: auto;
      margin-left: 20px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;

    li {
      list-style: disc;
      margin-left: 20px;
    }
  }

  table {
    width: 100%;
    border: 0;
    border-collapse: collapse;
  }

  thead tr td {
    text-align: center;
    font-weight: bold;
    padding: 11px 5px;
  }

  tr td {
    padding: 3px 5px;
  }
}