.upload {
  label {
    border-radius: 16px;
    background: #F4F4F4;
    border: none;
    display: flex;
    align-items: center;
    padding: 0 16px;
    gap: 8px;
    height: 34px;
    width: fit-content;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    color: #000;

    svg {
      display: block;
    }
  }
}