.page {
  position: relative;
  height: 100dvh;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  background: #FFF;
  overflow: hidden;
}

.header {
  position: relative;
  z-index: 5;
  border-bottom: 1px solid #F4F4F4;
  margin: 0 -24px;
  padding: 8px 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.top {
  display: flex;
  padding: 0 24px;
  align-items: center;
  justify-content: center;
  position: relative;

  div {
    svg {
      display: block;
    }
  }
}

.heading {
  position: absolute;
  top: 8px;
  text-align: center;
  width: calc(100% - 48px);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
  color: #000;
}

.main {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  flex: 1 0 auto;
  padding-top: 10px;
}

.buttons {
  padding: 16px 0;
  display: flex;
  align-items: center;
  gap: 10px;

  button {
    border-radius: 16px;
    background: #F4F4F4;
    border: none;
    display: flex;
    align-items: center;
    padding: 0 16px;
    gap: 8px;
    height: 34px;
    width: fit-content;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    color: #000;

    svg {
      display: block;
    }
  }

  a {
    border-radius: 16px;
    background: #6361F3;
    border: none;
    display: flex;
    width: fit-content;
    align-items: center;
    padding: 0 16px;
    gap: 8px;
    height: 34px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    color: #fff;

    svg {
      display: block;
    }
  }
}

.info {
  overflow-y: auto;
  height: 100%;
}

@keyframes move {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  color: #333;
  position: relative;
  overflow: hidden;
  padding-left: 25px;

  &::after {
    content: '';
    position: absolute;
    top: calc(50% - 9px);
    left: 0;
    width: 18px;
    height: 18px;
    background: url("/ico_loading.svg") no-repeat;
    background-size: cover;
    animation: move 1s linear infinite;
  }
}

.tab {
  .line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;

    div {
      padding: 3px 10px;
    }

    div:nth-child(1) {
      font-weight: bold;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    div:nth-child(2) {
      padding-left: 5px;
    }
  }
}

